.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom CSS */
.container{
  max-width: 1000px;
  margin : 0 auto;
}

.spacing{
  padding: 15px;
  max-height: 700px;
}

.search__field{
width: 100%;
height: 30px;
font-size: 19px;
border-radius: 10px;
border: 1px solid gray;
text-indent: 5px;
padding: 5px;
}

.movie{
  display: flex;
  gap: 10px;
  padding: 20px;
   background-color: gray;
   margin-top: 50px;
}

.poster{
  height: 600px;
  width: 30%;
  background-color: crimson;
}

.details{
  background-color: cyan;
  height: 600px;
  width: 70%;
}

.poster__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pd>p{
  font-size: 18px;
}

.ratings{

  display: flex;
}
.ratings>div{
  margin-right: 30px;
}

.inp-grp{
  display: flex;
  gap: 10px;
}

.inp_btn{
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: gray;
  color : white;
  font-size: 14px;
  padding: 5px;
}